html
{
	font-family: Helvetica;
}
body
{
	background-color: #11131E;
}
a
{
	text-decoration: none;
	color: #E7F4FF;
}
header h1
{
	color: #E7F4FF;
}
div#content
{
	color: #E7F4FF;
	width: 80%;
	margin:auto;
}
div#tweet
{
	width: 60%;
    margin: auto;
    padding: 12px;
    border:2px dashed #000000;
}
img
{
	display: block;
    margin: 5px auto;
}